In [1]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("sales-analytics").getOrCreate()
spark

24/06/08 11:03:21 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

## EXTRACT

In [8]:
df_order = spark.read.option("header", "true").option("quote", '"').csv("file:///home/ngocthang/Documents/Code/Sales-Analytics/sales-analytics/data/raw-data/orders.csv")

In [22]:
df_order.show()

+-----------+---------------+---------------------+-------------+---------+------------+----------------+---------------------------------+-------------------+
|Customer ID|Customer Status|Date Order was placed|Delivery Date| Order ID|  Product ID|Quantity Ordered|Total Retail Price for This Order|Cost Price Per Unit|
+-----------+---------------+---------------------+-------------+---------+------------+----------------+---------------------------------+-------------------+
|        579|         Silver|            01-Jan-17|    07-Jan-17|123002578|220101400106|               2|                             92.6|               20.7|
|       7574|         SILVER|            01-Jan-17|    05-Jan-17|123004074|210201000009|               1|                             21.7|               9.95|
|      28861|           Gold|            01-Jan-17|    04-Jan-17|123000871|230100500068|               1|                              1.7|                0.8|
|      43796|           Gold|            01-Jan-17|    06-Jan-17|123002851|220100100633|               1|                             47.9|              24.05|
|      54673|           Gold|            01-Jan-17|    04-Jan-17|123003607|220200200043|               1|                             36.9|               18.3|
|      74503|         Silver|            01-Jan-17|    04-Jan-17|123000487|240200100007|               1|                             24.7|               11.8|
|       1870|         Silver|            02-Jan-17|    02-Jan-17|123006324|240100400009|               1|                             65.5|               25.6|
|       2351|         Silver|            02-Jan-17|    02-Jan-17|123005769|240600100089|               2|                               44|                9.1|
|       3073|         Silver|            02-Jan-17|    02-Jan-17|123008467|240200100215|               1|                            108.7|               56.3|
|       5907|           Gold|            02-Jan-17|    06-Jan-17|123008924|220200300083|               1|                               53|               26.6|
|       7309|         SILVER|            02-Jan-17|    07-Jan-17|123006398|220200200021|               1|                               64|              37.85|
|       9216|         Silver|            02-Jan-17|    02-Jan-17|123009762|220100100108|               1|                            114.2|               57.2|
|       9542|         Silver|            02-Jan-17|    06-Jan-17|123009779|220200100226|               2|                            266.4|               66.7|
|      12409|           Gold|            02-Jan-17|    02-Jan-17|123005849|240200100047|               2|                             29.6|                7.5|
|      12601|         Silver|            02-Jan-17|    07-Jan-17|123009881|240800100075|               2|                            647.2|             133.55|
|      14679|         Silver|            02-Jan-17|    07-Jan-17|123009905|240500100046|               1|                             69.8|               22.4|
|      16958|           GOLD|            02-Jan-17|    02-Jan-17|123009956|220200200045|               3|                              339|              51.45|
|      17705|         Silver|            02-Jan-17|    02-Jan-17|123008541|230100300001|               1|                             12.7|               5.75|
|      18363|         Silver|            02-Jan-17|    03-Jan-17|123009987|240800100080|               2|                            423.2|              94.25|
|      18432|         Silver|            02-Jan-17|    04-Jan-17|123009996|240600100165|               1|                             22.8|               9.75|
+-----------+---------------+---------------------+-------------+---------+------------+----------------+---------------------------------+-------------------+
only showing top 20 rows

In [23]:
df_order.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- Customer Status: string (nullable = true)
 |-- Date Order was placed: string (nullable = true)
 |-- Delivery Date: string (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Quantity Ordered: string (nullable = true)
 |-- Total Retail Price for This Order: string (nullable = true)
 |-- Cost Price Per Unit: string (nullable = true)

In [24]:
df_order.count()

185013

In [43]:
df_product = spark.read.\
    option("header", "true")\
    .option("quote", '"')\
    .csv("file:///home/ngocthang/Documents/Code/Sales-Analytics/sales-analytics/data/raw-data/product-supplier.csv")

In [44]:
df_product.count()

5504

In [45]:
df_product.show()

+------------+------------+-----------------+--------------------+--------------------+----------------+--------------------+-----------+
|  Product ID|Product Line| Product Category|       Product Group|        Product Name|Supplier Country|       Supplier Name|Supplier ID|
+------------+------------+-----------------+--------------------+--------------------+----------------+--------------------+-----------+
|210100100001|    Children|Children Outdoors|Outdoor things, Kids|Boy's and Girl's ...|              NO|Scandinavian Clot...|         50|
|210100100002|    Children|Children Outdoors|Outdoor things, Kids|   Children's Jacket|              ES| Luna sastreria S.A.|       4742|
|210100100003|    Children|Children Outdoors|Outdoor things, Kids|Children's Jacket...|              NO|Scandinavian Clot...|         50|
|210100100004|    Children|Children Outdoors|Outdoor things, Kids| Children's Rain Set|              NO|Scandinavian Clot...|         50|
|210100100005|    Children|Children Outdoors|Outdoor things, Kids|Children's Rain Suit|              NO|Scandinavian Clot...|         50|
|210100100006|    Children|Children Outdoors|Outdoor things, Kids|Rain Suit for Chi...|              NO|Scandinavian Clot...|         50|
|210100100007|    Children|Children Outdoors|Outdoor things, Kids|           Rain Suit|              US|AllSeasons Outdoo...|        772|
|210100100008|    Children|Children Outdoors|Outdoor things, Kids|    Rain Suit Tonado|              NO|Scandinavian Clot...|         50|
|210100100009|    Children|Children Outdoors|Outdoor things, Kids|   Ski Jacket Oliver|              NO|Scandinavian Clot...|         50|
|210100100010|    Children|Children Outdoors|Outdoor things, Kids|Ski Jacket w/Remo...|              NO|Scandinavian Clot...|         50|
|210100100011|    Children|Children Outdoors|Outdoor things, Kids|Tiny Mouse Childr...|              SE| Svensson Trading AB|       6355|
|210100100012|    Children|Children Outdoors|Outdoor things, Kids|4ce Ace Children'...|              NO|Scandinavian Clot...|         50|
|210100100013|    Children|Children Outdoors|Outdoor things, Kids|4ce Expedition Do...|              NO|Scandinavian Clot...|         50|
|210100100014|    Children|Children Outdoors|Outdoor things, Kids|4ce Filip Childre...|              NO|Scandinavian Clot...|         50|
|210100100015|    Children|Children Outdoors|Outdoor things, Kids|4ce Grover Snow J...|              NO|Scandinavian Clot...|         50|
|210100100016|    Children|Children Outdoors|Outdoor things, Kids|4ce Jaguar Snow P...|              NO|Scandinavian Clot...|         50|
|210100100017|    Children|Children Outdoors|Outdoor things, Kids|4ce Tiger Ski Jac...|              NO|Scandinavian Clot...|         50|
|210100100018|    Children|Children Outdoors|Outdoor things, Kids|Amarone Children'...|              NO|Scandinavian Clot...|         50|
|210100100019|    Children|Children Outdoors|Outdoor things, Kids|Blondie Girl's Sk...|              NO|Scandinavian Clot...|         50|
|210100100020|    Children|Children Outdoors|Outdoor things, Kids|Dean Creek Childr...|              NO|Scandinavian Clot...|         50|
+------------+------------+-----------------+--------------------+--------------------+----------------+--------------------+-----------+
only showing top 20 rows

## TRANSFORM

In [28]:
from pyspark.sql.functions import to_date, date_format, col, when, udf, count, isnan
from pyspark.sql.types import StringType

In [29]:
df_order = df_order.dropDuplicates()

In [30]:
# check if there is any wrong cloumn
df_order.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df_order.columns]).show()

+-----------+---------------+---------------------+-------------+--------+----------+----------------+---------------------------------+-------------------+
|Customer ID|Customer Status|Date Order was placed|Delivery Date|Order ID|Product ID|Quantity Ordered|Total Retail Price for This Order|Cost Price Per Unit|
+-----------+---------------+---------------------+-------------+--------+----------+----------------+---------------------------------+-------------------+
|          0|              0|                    0|            0|       0|         0|               0|                                0|                  0|
+-----------+---------------+---------------------+-------------+--------+----------+----------------+---------------------------------+-------------------+

In [127]:
standardize = udf(lambda s : s.capitalize(), StringType()) # Capitalize the first letter and convert the rest to lowercase

df_order_transform = df_order.withColumn("Date Order was placed", to_date("Date Order was placed", "dd-MMM-yy")) \
                            .withColumn("Delivery Date", to_date("Delivery Date", "dd-MMM-yy")) \
                            .withColumn("Customer Status", standardize("Customer Status")) \
                            .withColumn("Total Retail Price for This Order", col("Total Retail Price for This Order").cast("double")) \
                            .withColumn("Cost Price Per Unit", col("Cost Price Per Unit").cast("double"))

In [128]:
df_order_transform = df_order_transform.withColumnRenamed("Date Order was placed", "Order Date").\
                                        withColumnRenamed("Total Retail Price for This Order", "Order Price").\
                                        withColumnRenamed("Cost Price Per Unit", "Cost Per Product").\
                                        withColumnRenamed("Quantity Ordered", "Order Quantity")

In [129]:
df_order_transform.count()

185013

In [130]:
df_order_transform.show(5)

+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
|Customer ID|Customer Status|Order Date|Delivery Date| Order ID|  Product ID|Order Quantity|Order Price|Cost Per Product|
+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
|      92956|         Silver|2017-01-02|   2017-01-02|123009195|230100100013|             2|      226.2|            58.9|
|      62039|           Gold|2017-01-03|   2017-01-03|123013358|220100100036|             1|       41.2|            20.7|
|      40267|         Silver|2017-01-05|   2017-01-05|123024632|210200600084|             1|       34.8|            14.9|
|      50664|           Gold|2017-01-07|   2017-01-07|123037269|240800200043|             2|       84.6|           18.45|
|      55786|         Silver|2017-01-07|   2017-01-07|123034300|210200600013|             1|       83.7|            41.8|
+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
only showing top 5 rows

In [131]:
df_order_transform.filter(col("Customer ID") == "579").show()

+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
|Customer ID|Customer Status|Order Date|Delivery Date| Order ID|  Product ID|Order Quantity|Order Price|Cost Per Product|
+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
|        579|         Silver|2018-09-28|   2018-09-28|123306088|240100100235|             1|       13.2|            5.65|
|        579|         Silver|2017-01-01|   2017-01-07|123002578|220101400106|             2|       92.6|            20.7|
|        579|         Silver|2021-09-24|   2021-09-24|124350126|220101400027|             2|      139.0|            31.7|
|        579|           Gold|2021-04-29|   2021-04-29|124209728|240100100458|             1|        6.7|            2.95|
+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+

In [132]:
df_order_transform.printSchema()

root
 |-- Customer ID: string (nullable = true)
 |-- Customer Status: string (nullable = true)
 |-- Order Date: date (nullable = true)
 |-- Delivery Date: date (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Order Quantity: string (nullable = true)
 |-- Order Price: double (nullable = true)
 |-- Cost Per Product: double (nullable = true)

//////////

In [46]:
df_product = df_product.dropDuplicates()

In [47]:
df_product.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df_product.columns]).show()

+----------+------------+----------------+-------------+------------+----------------+-------------+-----------+
|Product ID|Product Line|Product Category|Product Group|Product Name|Supplier Country|Supplier Name|Supplier ID|
+----------+------------+----------------+-------------+------------+----------------+-------------+-----------+
|         0|           0|               0|            0|           0|               0|            0|          0|
+----------+------------+----------------+-------------+------------+----------------+-------------+-----------+

In [48]:
import pycountry

def get_country_name(country_code):
    try:
        country = pycountry.countries.get(alpha_2=country_code)
        if country:
            return country.name
        else:
            return None
    except:
        return None
    
get_country_name_udf = udf(get_country_name, StringType())

# Apply the UDF to the DataFrame column

df_product_transform = df_product.withColumn("Supplier Country Name", get_country_name_udf(col("Supplier Country")))

In [49]:
df_product_transform = df_product_transform.withColumnRenamed("Supplier Country", "Supplier Country Code")

In [54]:
df_product_transform.printSchema()

root
 |-- Product ID: string (nullable = true)
 |-- Product Line: string (nullable = true)
 |-- Product Category: string (nullable = true)
 |-- Product Group: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Supplier Country Code: string (nullable = true)
 |-- Supplier Name: string (nullable = true)
 |-- Supplier ID: string (nullable = true)
 |-- Supplier Country Name: string (nullable = true)

In [50]:
df_product_transform.show()

+------------+---------------+--------------------+--------------------+--------------------+---------------------+--------------------+-----------+---------------------+
|  Product ID|   Product Line|    Product Category|       Product Group|        Product Name|Supplier Country Code|       Supplier Name|Supplier ID|Supplier Country Name|
+------------+---------------+--------------------+--------------------+--------------------+---------------------+--------------------+-----------+---------------------+
|210200900019|       Children|     Children Sports|        Osprey, Kids|Osprey Cellerator...|                   US|Triple Sportswear...|       3664|        United States|
|220100100113|Clothes & Shoes|             Clothes|    Eclipse Clothing|Big Guy Men's Col...|                   US|         Eclipse Inc|       1303|        United States|
|220100100252|Clothes & Shoes|             Clothes|    Eclipse Clothing|Big Guy Men's Sol...|                   US|         Eclipse Inc|       1303|        United States|
|220100100264|Clothes & Shoes|             Clothes|    Eclipse Clothing|Big Guy Men's Swe...|                   US|         Eclipse Inc|       1303|        United States|
|220100100459|Clothes & Shoes|             Clothes|    Eclipse Clothing|Watchit 42 Black/...|                   US|         Eclipse Inc|       1303|        United States|
|220100100477|Clothes & Shoes|             Clothes|    Eclipse Clothing|Woman's 3-Pack An...|                   US|         Eclipse Inc|       1303|        United States|
|220100500028|Clothes & Shoes|             Clothes|             Leisure|Van Damme Women's...|                   NL|Van Dammeren Inte...|       2995|          Netherlands|
|220100500029|Clothes & Shoes|             Clothes|             Leisure|Van Damme Women's...|                   NL|Van Dammeren Inte...|       2995|          Netherlands|
|220100800034|Clothes & Shoes|             Clothes|      Orion Clothing|Hightech Women's ...|                   CA|  Fuller Trading Co.|      16733|               Canada|
|220101400309|Clothes & Shoes|             Clothes|     Tracker Clothes|      Sherpa T-Shirt|                   US|         3Top Sports|       2963|        United States|
|220101400327|Clothes & Shoes|             Clothes|     Tracker Clothes|    Stars Snap Pants|                   US|         3Top Sports|       2963|        United States|
|230100200049|       Outdoors|            Outdoors|           Backpacks|Tornado 55 Litre ...|                   AU|   Toto Outdoor Gear|      10692|            Australia|
|240100100189|         Sports|Assorted Sports A...|Assorted Sports a...|Basket Net Basket...|                   NL|Van Dammeren Inte...|       2995|          Netherlands|
|240100100346|         Sports|Assorted Sports A...|Assorted Sports a...|Limited Classic Plus|                   AU|       Health-Sports|      14162|            Australia|
|240300200059|         Sports|       Indoor Sports|  Gymnastic Clothing|Essential 3/4 Tights|                   ES|            Sportico|        798|                Spain|
|240300300003|         Sports|       Indoor Sports|            Top Trim|        Ridge Cotton|                   US|      Top Sports Inc|      14648|        United States|
|240500200117|         Sports|   Running - Jogging|     Running Clothes|Smash Coolmax Spr...|                   BE|        Force Sports|       5922|              Belgium|
|240600100118|         Sports|         Swim Sports|       Bathing Suits|Sunfit Mangano Sw...|                   US|Nautlius SportsWe...|       6153|        United States|
|240800100006|         Sports|       Winter Sports|           Ski Dress|Men's Ski Jacket ...|                   NO|Scandinavian Clot...|         50|               Norway|
|210200600065|       Children|     Children Sports|     N.D. Gear, Kids|Children's Down J...|                   ES| Luna sastreria S.A.|       4742|                Spain|
+------------+---------------+--------------------+--------------------+--------------------+---------------------+--------------------+-----------+---------------------+
only showing top 20 rows

In [135]:
dimCountry = df_product_transform.select(col("Supplier Country Code").alias("countryID"), col("Supplier Country Name").alias("countryName")).distinct()
dimCountry.show()

+---------+--------------+
|countryID|   countryName|
+---------+--------------+
|       NO|        Norway|
|       SE|        Sweden|
|       DE|       Germany|
|       FR|        France|
|       NL|   Netherlands|
|       GB|United Kingdom|
|       AU|     Australia|
|       DK|       Denmark|
|       US| United States|
|       CA|        Canada|
|       PT|      Portugal|
|       ES|         Spain|
|       BE|       Belgium|
+---------+--------------+

In [ ]:
dimSup

save file as parquet format

In [65]:
df_order_parquet = df_order_transform.repartition(1)
df_order_parquet.write.mode('overwrite').parquet("D:\Code\DataEngieering-Projects\Projects\Sales-Analytics\data\data-transformed\order")

In [66]:
df_product_parquet = df_product_transform.repartition(1)
df_product_parquet.write.mode('overwrite').parquet("D:\Code\DataEngieering-Projects\Projects\Sales-Analytics\data\data-transformed\product")

### LOAD

load file to hdfs

In [10]:
order_file = spark.read.\
    parquet("file:///home/ngocthang/Documents/Code/Sales-Analytics/sales-analytics/data/data-transformed/order/part-00000-44c3a1bf-7c6a-4bb9-8a78-74cf24fb6596-c000.snappy.parquet")

In [11]:
order_file.show()

+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
|Customer ID|Customer Status|Order Date|Delivery Date| Order ID|  Product ID|Order Quantity|Order Price|Cost Per Product|
+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
|      92956|         Silver|02/01/2017|   02/01/2017|123009195|230100100013|             2|      226.2|            58.9|
|      62039|           Gold|03/01/2017|   03/01/2017|123013358|220100100036|             1|       41.2|            20.7|
|      40267|         Silver|05/01/2017|   05/01/2017|123024632|210200600084|             1|       34.8|            14.9|
|      50664|           Gold|07/01/2017|   07/01/2017|123037269|240800200043|             2|       84.6|           18.45|
|      55786|         Silver|07/01/2017|   07/01/2017|123034300|210200600013|             1|       83.7|            41.8|
|      46746|           Gold|12/01/2017|   12/01/2017|123062708|220200100229|             1|      165.5|           82.85|
|      91683|         Silver|13/01/2017|   13/01/2017|123069200|220101000001|             1|       18.2|             8.2|
|      13701|         Silver|14/01/2017|   14/01/2017|123071854|210201000086|             1|       17.1|            7.65|
|      14093|         Silver|15/01/2017|   20/01/2017|123079099|220100100135|             1|       35.7|           17.95|
|      75466|         Silver|18/01/2017|   18/01/2017|123094799|210200900001|             1|       46.1|           19.55|
|      43495|         Silver|20/01/2017|   20/01/2017|123004763|240600100010|             1|       16.0|             6.5|
|      44946|           Gold|20/01/2017|   20/01/2017|123003344|240100100528|             5|      270.5|           23.85|
|      62080|         Silver|20/01/2017|   20/01/2017|123004819|230100600018|             1|       64.2|            32.2|
|      16480|         Silver|22/01/2017|   22/01/2017|123017050|220101400371|             1|       25.7|            12.8|
|      55847|         Silver|24/01/2017|   24/01/2017|123027662|240600100181|             1|       36.8|            16.0|
|      72896|         Silver|24/01/2017|   24/01/2017|123029429|220101000002|             1|       17.7|             8.0|
|      38556|           Gold|27/01/2017|   27/01/2017|123042446|210200600116|             1|       36.3|            15.2|
|      62001|           Gold|27/01/2017|   27/01/2017|123047317|230100700002|             1|      220.0|           135.0|
|      84481|         Silver|30/01/2017|   30/01/2017|123060420|220200200011|             1|       86.2|           39.25|
|      80359|         Silver|01/02/2017|   01/02/2017|123073140|220200200032|             1|       96.4|           43.85|
+-----------+---------------+----------+-------------+---------+------------+--------------+-----------+----------------+
only showing top 20 rows

In [12]:
product_file = spark.read.\
    parquet("file:///home/ngocthang/Documents/Code/Sales-Analytics/sales-analytics/data/data-transformed/product/part-00000-7877a23d-2971-48eb-93e2-9db7fab3794f-c000.snappy.parquet")

In [13]:
product_file.show()

+------------+---------------+--------------------+--------------------+--------------------+---------------------+--------------------+-----------+---------------------+
|  Product ID|   Product Line|    Product Category|       Product Group|        Product Name|Supplier Country Code|       Supplier Name|Supplier ID|Supplier Country Name|
+------------+---------------+--------------------+--------------------+--------------------+---------------------+--------------------+-----------+---------------------+
|210200900019|       Children|     Children Sports|        Osprey, Kids|Osprey Cellerator...|                   US|Triple Sportswear...|       3664|        United States|
|220100100113|Clothes & Shoes|             Clothes|    Eclipse Clothing|Big Guy Men's Col...|                   US|         Eclipse Inc|       1303|        United States|
|220100100252|Clothes & Shoes|             Clothes|    Eclipse Clothing|Big Guy Men's Sol...|                   US|         Eclipse Inc|       1303|        United States|
|220100100264|Clothes & Shoes|             Clothes|    Eclipse Clothing|Big Guy Men's Swe...|                   US|         Eclipse Inc|       1303|        United States|
|220100100459|Clothes & Shoes|             Clothes|    Eclipse Clothing|Watchit 42 Black/...|                   US|         Eclipse Inc|       1303|        United States|
|220100100477|Clothes & Shoes|             Clothes|    Eclipse Clothing|Woman's 3-Pack An...|                   US|         Eclipse Inc|       1303|        United States|
|220100500028|Clothes & Shoes|             Clothes|             Leisure|Van Damme Women's...|                   NL|Van Dammeren Inte...|       2995|          Netherlands|
|220100500029|Clothes & Shoes|             Clothes|             Leisure|Van Damme Women's...|                   NL|Van Dammeren Inte...|       2995|          Netherlands|
|220100800034|Clothes & Shoes|             Clothes|      Orion Clothing|Hightech Women's ...|                   CA|  Fuller Trading Co.|      16733|               Canada|
|220101400309|Clothes & Shoes|             Clothes|     Tracker Clothes|      Sherpa T-Shirt|                   US|         3Top Sports|       2963|        United States|
|220101400327|Clothes & Shoes|             Clothes|     Tracker Clothes|    Stars Snap Pants|                   US|         3Top Sports|       2963|        United States|
|230100200049|       Outdoors|            Outdoors|           Backpacks|Tornado 55 Litre ...|                   AU|   Toto Outdoor Gear|      10692|            Australia|
|240100100189|         Sports|Assorted Sports A...|Assorted Sports a...|Basket Net Basket...|                   NL|Van Dammeren Inte...|       2995|          Netherlands|
|240100100346|         Sports|Assorted Sports A...|Assorted Sports a...|Limited Classic Plus|                   AU|       Health-Sports|      14162|            Australia|
|240300200059|         Sports|       Indoor Sports|  Gymnastic Clothing|Essential 3/4 Tights|                   ES|            Sportico|        798|                Spain|
|240300300003|         Sports|       Indoor Sports|            Top Trim|        Ridge Cotton|                   US|      Top Sports Inc|      14648|        United States|
|240500200117|         Sports|   Running - Jogging|     Running Clothes|Smash Coolmax Spr...|                   BE|        Force Sports|       5922|              Belgium|
|240600100118|         Sports|         Swim Sports|       Bathing Suits|Sunfit Mangano Sw...|                   US|Nautlius SportsWe...|       6153|        United States|
|240800100006|         Sports|       Winter Sports|           Ski Dress|Men's Ski Jacket ...|                   NO|Scandinavian Clot...|         50|               Norway|
|210200600065|       Children|     Children Sports|     N.D. Gear, Kids|Children's Down J...|                   ES| Luna sastreria S.A.|       4742|                Spain|
+------------+---------------+--------------------+--------------------+--------------------+---------------------+--------------------+-----------+---------------------+
only showing top 20 rows

In [14]:
order_file.write.mode('overwrite').parquet("hdfs://localhost:9000/sales-analytics-data/transformed-data/orderfile.parquet")

In [15]:
product_file.write.mode('overwrite').parquet("hdfs://localhost:9000/sales-analytics-data/transformed-data/productfile.parquet")

load to data warehouse

In [21]:
dimCountry = product_file.select(col("Supplier Country Name").alias("countryName"), col("Supplier Country Name").alias("countryName"))
dimCountry.show()

+-------------+---------------------+
|  countryName|Supplier Country Code|
+-------------+---------------------+
|United States|                   US|
|United States|                   US|
|United States|                   US|
|United States|                   US|
|United States|                   US|
|United States|                   US|
|  Netherlands|                   NL|
|  Netherlands|                   NL|
|       Canada|                   CA|
|United States|                   US|
|United States|                   US|
|    Australia|                   AU|
|  Netherlands|                   NL|
|    Australia|                   AU|
|        Spain|                   ES|
|United States|                   US|
|      Belgium|                   BE|
|United States|                   US|
|       Norway|                   NO|
|        Spain|                   ES|
+-------------+---------------------+
only showing top 20 rows